<h1>Create a new reservation</h1>

<% if @reservation.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this restaurant from being saved:</h2>
 
    <ul>
    <% @reservation.errors.full_messages.each do |msg| %>
      <li class="errormsg"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>



<%= render partial: "reservation_form"%>



