<div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>


<h1>Listing all restaurants for <%= current_user.email %></h1>

<% @restaurant.each do |c|  %>
<li><%= link_to c.name, restaurant_path(c.id) %> <br /></li>

<% end %>
