<h1>Welcome to <%= @restaurant.name %> </h1>



<div class="rest"><%= @restaurant.description %></div>




<%= link_to 'Update restaurant',  edit_restaurant_path(@restaurant)%> 
<%= link_to 'Delete restaurant',  { action: :destroy, id: @restaurant.id }, method: :delete, data: { confirm: 'Are you sure?' } %> 
